@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Ahmed Ashraf Mohamed </h3>

<p>
Freelance Web Developer From Egypt , Working from 7 years in this category
so power full in front-end & high level quality for responsive sites
so interesting for fix complex issues .... 	
	</p>

<h3>Using </h3>
<hr />
<ul>
	<li>MVC 5</li>
	<li>Entity Framework</li>

</ul>

<h3>Installation </h3>
<hr />
<ul>
	<li>Run SQL Server and create empty database. </li>
	<li>Run Visual Studio 2017. </li>
	<li>
		Open Web.config file and replace the connection strings name it DefaultConnection with your new database  and your sqlserver user with my sa and password with my password and in appSettings you can change default user email name => AdminEmail and default user password => Password. 
	</li>
	<li>Run Package Manager Console from tools => NuGet Package Manager => Package Manager Console.  </li>
	<li>Run this command line <br /> 1- enable-migrations   <br /> 2- add-migration  InitialCreate <br />3- update-database  </li>
	<li>Now at the end Run Ctrl + F5</li>
	<li>
		Login as default user  :<br />
		  username: admin@admin.com <br />
		  password: 123 <br />
		again you can change it from  Web.config file in appSettings you can change default user email name => AdminEmail and default user password => Password.
	</li>
	


</ul>





