@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
<b>Attendance Application</b> <br />
    <abbr title="Phone">Phone :</abbr>
	+201028070880
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ahmedfrontend@gmail.com">ahmedfrontend@gmail.com</a><br />
    <strong>My WebSite:</strong> <a href="http://www.ahmedfrontend.com" target="_blank">www.ahmedfrontend.com</a>
</address>